.img-fabio {
    border-radius: 50%;
    max-width: 200px;
}
.text-violet {
    color: #4A177D;
}
.evoltis-link {
    text-decoration: none;
}
.renglon {
    margin-bottom: 0;
}
.table-estudios tbody {
    font-size: 14px;
}
.experiencia h3 {    
    font-size: 24px;
}